/* Adding background image */
body {
    background: url(../Images/WhiteFlowers.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #343a40;
   }

/* Adding background color and opacity container */
.container {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* Changing width, margin and padding */
.row {
    width: 100%;
    margin: 20px 15px 20px 15px;
    padding: 20px;
}

/* Changing width, margin and padding */
.col {
    width: 100%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

/* Changing width, margin and padding */
.col-form {
    width: 50%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

/* Changing padding, font to white, and taking out background color */
.card {
    padding: 20px;
    background: none;
    color: #fff;
}

/* 
    Trying to get a sticky footer but could not make it to work
    so that it doesn't cover the other elements,
    Also adding a background color to and changing the opacity.
    center align text and change color to white
*/
footer {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
